@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --frame-min-w: 300px;
  --frame-max-w: 800px;
  --topbar-h: 3rem; 
  --bottombar-h: 4rem;
}

/* 隐藏滚动条但保持滚动功能 */
::-webkit-scrollbar {
  display: none;
}

/* 适配Firefox */
* {
  scrollbar-width: none;
}